.chart {
  flex: 4;
  -webkit-box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.74);
  box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.74);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 20px;
  }
  .chartGrid {
    stroke: rgb(243, 242, 242);
  }
}
